### Python ###
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
*.so

### Visual Studio Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.code-workspace

### Jupyter Notebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb
!plot.ipynb

### Data ###
data/*
!data/*.py

### Output ###
output/
*.pdf
